@import "variables";

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $primary-font;
    font-size: 14px;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

input {
    font-family: $primary-font;
}

.button {
    background-color: $primary;
    font-family: $primary-font;
    font-size: 16px;
    color: #fff;
    padding: 12px 38px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}