.booking {
    width: 100%;
    padding: 20px 20px 40px;
    background-color: $text-color;
    border-radius: 3px;
    color: #fff;

    &__label {
        width: 100%;
        margin-right: 30px;

        &--relative {
            position: relative;
        }

        span {
            padding-left: 12px;
        }
    }

    &__input {
        padding: 4px 12px;
        height: 40px;
        border: none;
        appearance: none;
        width: 100%;
        background-color: $text-color;
        font-size: 16px;
        border-bottom: 3px solid $inactive-color;
        color: #c7c7c7;
        transition: border-color .3s ease-in-out;

        &--select {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 330 330' fill='%23c7c7c7'%3E%3Cpath d='M325.607 79.393c-5.857-5.857-15.355-5.858-21.213.001l-139.39 139.393L25.607 79.393c-5.857-5.857-15.355-5.858-21.213.001-5.858 5.858-5.858 15.355 0 21.213l150.004 150a14.999 14.999 0 0021.212-.001l149.996-150c5.859-5.857 5.859-15.355.001-21.213z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 90%;
        }

        &:focus {
            outline: none;
            border-bottom: 3px solid $primary;
        }
    }

    &__inputs {
        display: flex;
        align-items: flex-end;
    }
    
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
        opacity: .6;
    }
}