@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  src: local(""), url(/fonts/merriweather-v22-latin_cyrillic-300italic.woff2?50ae39b4695094380aeb1ea124d21337) format("woff2"), url(/fonts/merriweather-v22-latin_cyrillic-300italic.woff?b657b4dff6b7f43d4bde187e2a47cc42) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local(""), url(/fonts/merriweather-v22-latin_cyrillic-regular.woff2?e26dc63803feab3692a8348725b05ea7) format("woff2"), url(/fonts/merriweather-v22-latin_cyrillic-regular.woff?d90db89813fa3b61d39336386c49e3f1) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: local(""), url(/fonts/merriweather-v22-latin_cyrillic-700italic.woff2?73c12c48bb75ce75c2dad4e0a25e8427) format("woff2"), url(/fonts/merriweather-v22-latin_cyrillic-700italic.woff?afce55cbfda140587fc10982420a8f14) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url(/fonts/raleway-v19-latin_cyrillic-regular.woff2?31d6cfe0d16ae931b73c59d7e0c089c0) format("woff2"), url(/fonts/raleway-v19-latin_cyrillic-regular.woff?c6f1771dfb3fe2d20afbe466e0c295a9) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  src: local(""), url(/fonts/raleway-v19-latin_cyrillic-italic.woff2?32dbb25fa602a77975019b05f9e82d23) format("woff2"), url(/fonts/raleway-v19-latin_cyrillic-italic.woff?31d6cfe0d16ae931b73c59d7e0c089c0) format("woff");
  font-display: swap;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

input, textarea {
  font-family: "Raleway", sans-serif;
}

button {
  cursor: pointer;
}

select {
  background-color: transparent;
  padding: 6px 12px;
  border: 1px solid #c7c7c7;
}
select:active, select:focus-visible {
  outline: none;
}

.section__title {
  font-family: "Merriweather", sans-serif;
  font-size: 30px;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.section__title:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -10px;
  background-color: #d1aa67;
  height: 2px;
  width: 100px;
  transform: translateX(-50%);
}
.section__subtitle {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}
.section__desc {
  margin-bottom: 20px;
}

.button {
  font-family: "Raleway", sans-serif;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.button:focus {
  outline: none;
}
.button--primary {
  background-color: #c7956f;
  font-size: 16px;
  padding: 12px 38px;
  border: none;
}
.button--primary:hover {
  background-color: #c0875d;
}
.button--primary:active {
  background-color: #b97a4a;
}
.button--secondary {
  background-color: transparent;
  font-size: 14px;
  padding: 8px 22px;
  border: 1px solid #c7956f;
}
.button--secondary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.button--secondary:active {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
.nav__logo {
  width: 120px;
  margin-right: 100px;
}
.nav__logo img {
  display: block;
  width: 100%;
}
.nav--black {
  background-color: #424242;
  padding-bottom: 20px;
}
.nav--black .nav__logo {
  width: 80px;
}
.nav__list {
  display: flex;
}
.nav__item {
  margin: 0 30px;
}
.nav__link {
  position: relative;
  font-size: 18px;
  color: #fff;
}
.nav__link:hover:after {
  width: 100%;
}
.nav__link:after {
  position: absolute;
  left: 0;
  bottom: -8px;
  content: "";
  background-color: #d1aa67;
  height: 2px;
  width: 0%;
  transition: all 0.5s ease-in-out;
}
.nav__info {
  display: flex;
  align-items: center;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #424242;
  padding: 60px 0;
  color: #fff;
}
.footer__logo {
  width: 90px;
  margin-right: 100px;
}
.footer__logo img {
  width: 100%;
}
.footer__title {
  font-size: 14px;
  font-weight: 400;
  color: #c7956f;
  margin-bottom: 8px;
}
.footer__link {
  margin-bottom: 4px;
}
.footer__link a {
  font-size: 14px;
  color: #fff;
}
.footer__social {
  display: flex;
  justify-content: center;
}
